
.contain{
    margin: auto;
    width: 100vw;
    height: 40vh;
   background-color: red;
   justify-content: center;
  
}



.contain > ul{
    list-style: none;
    display: flex;
    justify-content: space-around; 
    margin-left: 180px;
    margin-right: 80px;
}

.contain > ul > li{
     
     font-size: 22px;
    
}