
.contain{
    margin: auto;
    width: 100vw;
    height: 40vh;
   background-color: red;
   justify-content: center;
  
}



.contain > ul{
    list-style: none;
    display: flex; 
    justify-content: center;  
}

.contain > ul > li{
     justify-content: spa;
     font-size: 22px;
    
}