@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

:root{
 --font
}
.contain{
    margin: auto;
    width: 100vw;
    height: 50vh;
   justify-content: center;
   text-align: center;
   padding-top: 100px;
   background: #E6DADA;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #274046, #E6DADA);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #274046, #E6DADA); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}



.skills{
    width: 50%;
    display: flex;
    justify-content: space-around; 
    margin-left: 380px;
    margin-right: 380px;
    margin-top: 80px;
    border-bottom: 3px solid black;
}

.skills > span{
    font-size: 22px;
    color: #66CDAA;
    padding: 3px;
}

@media screen and (max-width: 900px) {
    .skills{
        margin: auto;
    }
}