
.contain{
    margin: auto;
    width: 100vw;
    height: 50vh;
   background-color: rgb(235, 178, 178);
   justify-content: center;
   text-align: center;
   padding-top: 100px;
}



.skills{
    width: 50%;
    display: flex;
    justify-content: space-around; 
    margin-left: 380px;
    margin-right: 380px;
    margin-top: 80px;
    border-bottom: 3px solid black;
}

.skills > span{
    font-size: 22px;
    padding: 3px;
}

