@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap'); /* CDN GOOGLE  FONT */
@import url('https://cdn-uicons.flaticon.com/uicons-solid-straight/css/uicons-solid-straight.css'); /* CDN ICON*/
@font-face {
    font-family: Lastica;
    src: url(../fonts/instrg.ttf);
}

@keyframes typewriter {
    from {
      width: 0%;
    }
    to {
      width: 50%;
    }
  }
  @keyframes blink {
    from {
      border-color: black;
    }
    to {
      border-color: transparent;
    }
  }

*{
    max-width: 100vw;
}

:root{
 --bebas-neue : 'Bebas Neue', cursive;
}

body{
    max-width: 100vw;
    overflow-x: hidden;
}

main{
    margin-top: 150px;
    text-align: center;
}

.slogan-container{
  margin-top: 120px;  
}


.slogan{
    font-family: Lastica, sans-serif;
    font-weight: bold;
    font-size: 30px;
    overflow: hidden;
    animation: typewriter 2s steps(15) alternate,
      blink 800ms steps(15)  normal;
    border-right: 2px solid black;
}

.astronauta{
    width: 250px;
    float: left;
}

h2{
    font-family: var(--bebas-neue);
    text-align: center
}

main > p{
    text-align: start;
    margin: auto;
    width: 50vw;
    font-size: 22px;
}

main > ul{
    font-family: var(--bebas-neue);
    font-size: 22px;
    margin-left: 130px;
    margin-top: 30px;
    background-color: #1e1e1e;
    color: white;
    padding: 90px;
    border-radius: 20px;
    text-align: left;
}

main a{
    color: #66CDAA;
}

li > img{
    width: 600px;
    padding: 50px;
}

@media screen and (max-width:900px){
    .astronauta{
        width: 180px;
    }
    .slogan{
        font-size: 12px;
        padding: 20px;
    }
    h2{
    margin: auto;
    }
    main{
      margin-top: 100px;
    }
   main > p{
    width: 90vw;
   }

   main > ul{
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 18px;
    padding: 30px;
   }

   main > ul > li{
    padding: 16px;
   }
}