@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap'); /* CDN GOOGLE  FONT */
@import url('https://cdn-uicons.flaticon.com/uicons-solid-straight/css/uicons-solid-straight.css'); /* CDN ICON*/
@font-face {
    font-family: Lastica;
    src: url(../fonts/instrg.ttf);
}

.cards-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 80px;
    margin-bottom: 80px;
  }

  .cards-container > a{
    color: white;
    text-decoration: none;
  }
  
  .card{
    align-items: center;
    width: 20vw;
    height: 60vh;
    margin-top: 50px;
  }
  
  #card-0{
    background-image: url(../images/2023-06-04\ \(1\).png);
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: inset 0 0 0 50vw rgba(0, 0, 0, 0.835);
  }
  #card-1{
    background-image: url(../images/carcards.png);
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: inset 0 0 0 50vw rgba(0, 0, 0, 0.835);
  }
  #card-2{
    background-image: url(../images/spacesite.png);
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: inset 0 0 0 50vw rgba(0, 0, 0, 0.835);
  }
  
  #card-3{
    background-image: url(../images/frescosite.png);
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: inset 0 0 0 50vw rgba(0, 0, 0, 0.835);
  }
  #card-4{
    background-image: url(../images/devcollege.png);
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: inset 0 0 0 50vw rgba(0, 0, 0, 0.835);
  }
  
  #card-0:hover{
    box-shadow: inset 0 0 0 50vw rgba(0, 0, 0, 0.336);
    transform: scale(1.1); 
    transition: 1s;
  }
  #card-1:hover{
    box-shadow: inset 0 0 0 50vw rgba(0, 0, 0, 0.336);
    transform: scale(1.1); 
    transition: 1s;
  }
  #card-2:hover{
    box-shadow: inset 0 0 0 50vw rgba(0, 0, 0, 0.336);
    transform: scale(1.1); 
    transition: 1s;
  }
  #card-3:hover{
    box-shadow: inset 0 0 0 50vw rgba(0, 0, 0, 0.336);
    transform: scale(1.1); 
    transition: 1s;
  }
  #card-4:hover{
    box-shadow: inset 0 0 0 50vw rgba(0, 0, 0, 0.336);
    transform: scale(1.1); 
    transition: 1s;
  }
  
  .info-card{
    color: white;
    font-family: var(--bebas-neue);
    text-align: center;
    padding: 30px 0 30px;
    margin-top: 50%;
    background-color: rgba(0, 0, 0, 0.795);
}
  
  .info-card > h3{
    font-size: 40px;
  }
  
  .info-card > p{
    width: 85%;
    margin: auto;
    font-size: 18px;
  }

  .info-card > p > a{
   color: white;
  }

  @media screen and (max-width:900px){
    .cards-container{
        display: block;
        margin-top: 80px;
        margin-bottom: 80px;
      }
      .card{
        width: 60vw;
        margin: 30px auto;
      }

      .info-card > h3{
        font-size: 30px;
      }

      .info-card > p{
        font-size: 16px;
      }
  }